:root{
    --m-blue: #0053a4;
    --white:#fff;
    --dark-mode:#0e1725;
    --font-family:'Times New Roman', Times, serif;
  --fnt: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    --testicon: #0E1725;
    --accord:rgb(10,40,71);
}
.faq-sec{
    background-color: var(--m-blue);
}
.nav-item a{
    font-family: var(--fnt) !important;
}
.nav-item a:hover{
    text-decoration: none;
}
.general-btn{
    font-family: var(--fnt) !important;
}
.dark-mode .faq-sec{
    background-color: var(--dark-mode);
}
.tab_s2 .tab-link {
    border-radius: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: var(--fnt);
    font-weight: 500;
}
.tab-link.active, .tab-link.active:hover, .tab-link:hover {
    background-color: rgba(10, 102, 214, 0.587);
    color: #fff;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.tab-link {
    background-color: rgb(10,103,214);
    border-radius: 5px;
    color: #fff;
}
.tab-link {
    display: block;
    padding: 8px 16px;
    text-transform: capitalize;
}
.tab-content>.tab-pane {
    display: none;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
.faq_content5 .card {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.faq_content .card-header, .faq_content5 .card-header {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0;
    z-index: 2;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.faq_content5 .card-header a {
    background-color: rgb(10,103,214);
    border-color: #fff;
    color: #fff;
    display: block;
    padding: 15px 40px 15px 15px;
    position: relative;
}
.faq_content5 .card-header ins {
    background-color: rgb(10,40,71);
    top: 100%;
    height: 10px;
    position: absolute;
    left: 10px;
    right: 10px;
}
.accordion-item{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
    font-family: var(--fnt);
}
.accordion-header{
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0;
    z-index: 2;
    font-weight: 500;
}
.Q{
    font-weight: 700;
    font-size: 1.1rem;
}
.question-title{
    font-weight: 500;
}
.accordion-body{
    font-weight: 600;
}
.accordion-button{
    background-color: rgb(10,103,214);
    border-color: #fff;
    color: #fff;
    display: block;
    padding: 15px 40px 15px 15px;
    position: relative;
}
.accordion-button:not(.collapsed){
    background-color: rgb(10,103,214);
    color: var(--white);
}
.accordion-button:focus {
    background-color: rgb(10,103,214);
    border-color: #fff;
    color: #fff;
    display: block;
    padding: 15px 40px 15px 15px;
}
.accordion-button a:before {
    content: "Q.";
    font-weight: 600;
    margin-right: 5px;
}
.accordion-button span::before{
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: rgb(28,52,76) transparent transparent transparent;
}
.accordion-button span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent rgb(10,40,71) transparent transparent;
}
.accordion-button ins{
    background-color: rgb(10,40,71);
    top: 100%;
    height: 10px;
    position: absolute;
    left: 10px;
    right: 10px;
}
.accordion-body{
    background-color: rgb(10,40,71);
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(-180deg);
    background-image: url(../img/down-accord.svg);
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(../img/down-accord.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}